*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
body {
    background-color: #e3e6e6;
}

.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    width: 100px;
    height: 50px;
    background-image: url('Amazon-Emblem.jpg');
    background-size: cover;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white;
}


.nav-address {
    height: 100%;
    width: 90px;
    padding: 10px 10px;
    box-sizing: border-box;
    align-items: center;
}

.nav-address:hover {
    border: 1px solid white;
}

#add-first {
    color: #cccccc;
    font-size: 0.85rem;
    width: 60px;
    margin-left: 20px;
}

#add-sec {
    font-size: 1rem;
    margin-left: 3px;
    font-weight: bolder;
}

.add-icon {
    display: flex;
    align-items: center;
}

.nav-search {
    display: flex;
    width: 620px;
    height:40px;
    border-radius: 5px;
    justify-content: space-evenly;
}

.nav-search:hover {
    border: 1px solid orange;
    box-shadow: 0 0 8px orange;
}

.search-select {
    background-color: #E6E6E6;
    width: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    border: none;
}
.search-select:hover {
    background-color: #D9D9D9;
}
.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-button {
    background-color: rgb(255, 174, 0);
    font-size: 1.2rem;
    border: none;
    width: 45px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.lang-cnt {
    display: flex;
    align-items: center;
}
.acc-name {
    color: #cccccc;
    font-size: 0.85rem;
    margin-right: 10px;
}

.acc-lis-sec {
    color: #cccccc;
    font-size: 1em;
    font-weight: bolder;
}

.nav-order {
    font-size: 0.85rem;
}

.nav-order-sec {
    font-size: 1rem;
    font-weight: bolder;
}

.nav-cart-link {
    color: #cccccc;
    font-size: 1.5rem;
}

.nav-cart-text {
    color: #cccccc;
    font-weight: bolder;
}

.panel {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #232F3E;
    color: #FFFFFF;
    height: 40px;
    align-items: center;
}

.panel-item {
    padding: 10px;
    font-size: 0.85rem;
}

.panel-item :hover {
    border: 1px solid white;
}

#menu-icon {
    font-size: 20px;
}

.hero-section {
    width: 100%;
    height: 600px;
    background-image: url('hero-back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-message {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 45%;
    color: white;
    color: black;
    align-items: center;
    margin: 20px;
    width: 97%;
    height: 40px;
    background-color: #F5F6F6;
    font-size: 0.9rem;
}

.box {
    height: 350px;
    background-color: #FFFFFF;
    padding: 20px;
}

.shop-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    margin: 0 30px 30px 30px;
    position: relative;
    top: 55%;
}

.box-img {
    width: 100%;
    height: 80%;
    margin-top: 10px;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin-top: 75vh;
}

.foot-panel2 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: top;
    background-color: #232F3E;
    padding: 30px 100px 50px 100px;
}

.foot-panel2-item {
    width: 20%;
}

.foot-panel2 ul {
    list-style: none;
    color: white;
}
.foot-panel2 a {
    color: white;
    text-decoration: none;
}

.foot-panel2 li {
    margin: 10px 0 10px 0;
}

.foot-panel2 h5 {
    margin-bottom: 10px;
    font-size: 1rem;
}

.foot-panel3 {
    background-color: #232F3E;
    color: white;
    border-top: 1px solid #9fa3a7;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel4 {
    background-color: #131A22;
    color: white;
    padding: 10px 0 30px;
}

.pages {
    text-align: center;
}

.pages a {
    display: inline-block;
    padding-left: 15px;
    font-size: 0.8rem;
    color: white;
    text-decoration: none;
}

.copyright {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 10px;
}



